/* 
	CHECKBOX 
	@less primary-color
*/
.checkbox {
  	padding-left: 20px; 
}
  	
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 0px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 5px;
	padding-top:3px;
	font-size: 11px;
	color: #555555;
}

.checkbox input[type="checkbox"] {
	opacity: 0; 
}

.checkbox input[type="checkbox"]:hover + label::before {

	border: 1px solid #428bca;
}

.checkbox input[type="checkbox"]:focus + label::before {
	outline:none;
}

.checkbox input[type="checkbox"]:checked + label::after {
	font-family: 'FontAwesome';
	content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
	opacity: 0.65; 
}

.checkbox input[type="checkbox"]:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed; 
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
	background-color: #428bca;
	border-color: #428bca; 
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
	color: #fff; 
}
/*
	/CHECKBOX
*/


/* 
	PETITE ANIMATION SUR LES BOX. EFFET DE ZOOM RAPIDE
*/
.box {
	
	/* deja du code à la base */

    -webkit-animation: bummer .5s;
    animation: bummer .5s;
    -webkit-transform: scale(0,0); 
    transform: scale(0,0);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

@-webkit-keyframes bummer {
    100% {
        -webkit-transform: scale(1,1); 
    }
}

@keyframes bummer {
    100% {
        transform: scale(1,1); 
    }
}



/*
	ADMIN FORMS
*/
.teamlogo {
	width: 90%;
	margin: 5%;
}

.colsubmit {
	margin-top: 30px;
}