<footer>
    <div class="container-fluid">
        {#
        <div class="row">
            {% for i in 0..5 %}
            <div class="col-md-2 boxscore">
                <div class="boxteam boxteamOne"><img src="assets/pics/atlanta.png" alt=""></div>
                <div class="boxteam boxteamTwo"><img src="assets/pics/bucks.png" alt=""></div>
                <ul class="list-unstyled">
                    <li>Mardi 12 juin</li>
                    <li><em>Débute dans 5 heures</em></li>
                    <li role="separator" class="dividerboxscore"></li>
                    <li class="text-uppercase text-bigger">Atlanta <span class="badge pull-right bg-success">114</span></li>
                    <li class="text-uppercase text-bigger">@ Cavaliers <span class="badge pull-right bg-success">84</span></li>
                    <li role="separator" class="dividerboxscore"></li>
                    <li>Round 3 | game 5</li>
                </ul>
            </div>
            {% endfor %}
        </div>
        #}
        <div class="row">
            <div class="col-xs-12 text-center"> sando @ 2016</div>
        </div>
    </div>
</footer>